.hex {
    max-width: 100px;
    font-family: monospace;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.not-important {
    color: #aaa;
    font-size: 12px;
}
.grade-pass { background-color: #254925; }
.grade-fail { background-color: #4f2222; }
